{% extends 'BaseLayout.html' %}
{% block content %}
{% csrf_token %}

<html lang="en" data-textdirection="ltr" class="loaded"><head>
  <style type="text/css">.jqstooltip { position: absolute;left: 0px;top: 0px;visibility: hidden;background: rgb(0, 0, 0) transparent;background-color: rgba(0,0,0,0.6);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";color: white;font: 10px arial, san serif;text-align: left;white-space: nowrap;padding: 5px;border: 1px solid white;z-index: 10000;}.jqsfield { color: white;font: 10px arial, san serif;text-align: left;}</style></head>
  <body data-open="hover" data-menu="horizontal-menu" data-col="1-column" class="horizontal-layout horizontal-menu 1-column  blank-page blank-page  pace-done menu-collapsed"><div class="pace  pace-inactive"><div class="pace-progress" data-progress-text="100%" data-progress="99" style="transform: translate3d(100%, 0px, 0px);">
  <div class="pace-progress-inner"></div>
</div>
<div class="pace-activity"></div></div>
    <div class="app-content content container-fluid">
      <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body"><section class="flexbox-container">
    <div class="card-header bg-transparent no-border pb-0">
        <center><img src="../../static/app-assets/images/logo/AccessDenied.png" alt="Logo" id="logoEmpresa"></center>
        <h2 class="error-code text-xs-center mb-2">Ops, Você não tem permissão para acessar este Menu. </h2>
        <h5 class="text-uppercase text-xs-center">Entre em contato com o Gestor para mais informações!</h5>
    </div>
</section>

        </div>
      </div>
    </div>

</body></html>

{% endblock content %}      