{% extends 'BaseLayout.html' %} {% block content %} {% csrf_token %} {% load wtforms %}
    <div class="card" style="border-style: ridge; background: white;">
        <div class="card-header" style="border-bottom:3px solid #3c8dbc; background: #3f4444; color: #FFF">
            <h5 class="card-title">CONSULTAR DE ACESSO AO PORTAL</h5>
        </div>
        <div class="card-body">
            <div class="card-block" id="div-card-consulta-usuario">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group ">
                            {{ form.login.label }}
                            {% form_field form.login class="form-control "  style="text-transform:uppercase"%}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            {{ form.nome_usuario.label }}
                            {% form_field form.nome_usuario class="form-control "  style="text-transform:uppercase"%}
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            {{ form.status.label }}
                            {% form_field form.status class="form-control" style="text-transform:uppercase"%}
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="white">.</label>
                            <button type="button" onclick="buscaUsuarioPortal();"
                                    id="btnbuscaUsuarioPortal"
                                    style="padding: 0.55rem 0.85rem; border-radius: 0.25rem; width: 100%;"
                                    class="btn btn-primary"><i class="fa fa-search"></i> Consultar
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row"></div>
                <div class="card-body">
                    <div class="card-block">
                        <div class="row">
                            <div class="col-md">
                                 <div class="table-responsive" style="max-height:600px">
                                         <div id='div-consulta-usuarios'>
                                     </div>
                                 </div>
                             </div>
                        </div>
                    </div>
                </div>
                <br><br>
                <div class="row">
                    <div class="col-md-9"></div>
                    <div class="col-md-3">
                        <div class="form-group">
{#                            <button type="button" onclick="window.open('/CadastroUsuarioPortal', '_parent')"#}
                            <button type="button" onclick="window.open('/CadastroUsuarioPortal/0', '_parent')"
                                    id="btnbuscaGestor"
                                    style="padding: 0.55rem 0.85rem; border-radius: 0.25rem; width: 100%;"
                                    class="btn btn-primary"><i class="fa fa-plus"></i> Cadastrar Usuário Portal
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="../static/Scripts/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/UsuarioPortal/UsuarioPortal.js"></script>
    <script>
        $(document).ready(function(){
            CABECALHO_TABELA = ['Login', 'Nome Usuário','Incluir', 'Alterar', 'Excluir', 'Gráfico',  'Status'];
            CAMPOS_TABELA = ['LOGIN', 'NOME', 'INCLUIR', 'ALTERAR', 'EXCLUIR', 'GRAFICO', 'DESCRICAO_STATUS'];
            montaTabUsuPortal(true);
        });
    </script>
{% endblock content %}
